@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

        nav {
            transition: .5s ease-in-out;
        }

        .swiper-slide-active {
            -webkit-animation: scale-up-center 0.4s ease-in-out both;
	                animation: scale-up-center 0.4s ease-in-out both;
        }

        .nav-item:hover {
            animation: transparent-brown-underline 0.3s ease-in-out both;
        }

        .button-brown:hover {
            animation: brown-light-button 0.3s ease-in-out both;
        }

        .button-tp:hover .fas {
            animation: transparent-brown-button 0.3s ease-in-out both;
            animation: brown-white-arrow 0.3s ease-in-out both;
        }

        .fas {
            color : #653312;
        }

        .swiper2 .swiper-slide-active {
            -webkit-animation: scale-up-top 0.4s ease-in-out both;
	                animation: scale-up-top 0.4s ease-in-out both;
        }

        .swiper .swiper-pagination-bullet-active {
            color: #B88E2F;
            background: #B88E2F;
            background-clip: content-box;
            padding: 5px;
            border: #B88E2F 1px solid;
            border-radius: 50px;
        }

        .berita:hover .berita-img {
            animation: image-berita 0.4s ease-in-out both;
        }

        #pagination-sec4 {
            width: 200px;
        }

        .rotate-ani-3:hover {
            animation: rotate-3 0.1s ease-in-out both;
        }

        @keyframes rotate-3 {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(3deg)
            }
        }

        @keyframes image-berita {
            0% {
                filter: brightness(1);
            }
            100% {
                filter: brightness(.7);
            }
        }

        @keyframes brown-white-arrow {
            0% {
                color: #653312;
            }
            100% {
                color: #fff;
            }
        }

        @keyframes transparent-brown-underline {
            0% {
                text-decoration-color: #65331200;
            }
            100% {
                text-decoration-color: #653312;
            }
        }
        @keyframes brown-light-button {
            0% {
                background-color: #653312;
            }
            100% {
                background-color: #8c522b;
            }
        }
        @keyframes transparent-brown-button {
            0% {
                background-color: #ffffff00;
            }
            100% {
                background-color: #8c522b;
            }
        }
        @-webkit-keyframes scale-up-center {
        0% {
            -webkit-transform: scale(1);
                    transform: scale(1);
        }
        100% {
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
        }
        }
        @keyframes scale-up-center {
        0% {
            -webkit-transform: scale(1);
                    transform: scale(1);
        }
        100% {
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
        }
        }
        @-webkit-keyframes scale-up-top {
            0% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              -webkit-transform-origin: 50% 0%;
                      transform-origin: 50% 0%;
            }
            100% {
              -webkit-transform: scale(1.2);
                      transform: scale(1.2);
              -webkit-transform-origin: 50% 0%;
                      transform-origin: 50% 0%;
            }
          }
          @keyframes scale-up-top {
            0% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              -webkit-transform-origin: 50% 0%;
                      transform-origin: 50% 0%;
            }
            100% {
              -webkit-transform: scale(1.2);
                      transform: scale(1.2);
              -webkit-transform-origin: 50% 0%;
                      transform-origin: 50% 0%;
            }
          }
          @-webkit-keyframes scale-up-top-sm {
            0% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              -webkit-transform-origin: 50% 0%;
                      transform-origin: 50% 0%;
            }
            100% {
              -webkit-transform: scale(1.2);
                      transform: scale(1.2);
              -webkit-transform-origin: 50% 0%;
                      transform-origin: 50% 0%;
                      margin-right: 75px;
            }
          }
          @keyframes scale-up-top-sm {
            0% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              -webkit-transform-origin: 50% 0%;
                      transform-origin: 50% 0%;
            }
            100% {
              -webkit-transform: scale(1.2);
                      transform: scale(1.2);
              -webkit-transform-origin: 50% 0%;
                      transform-origin: 50% 0%;
                      margin-right: 75px;
            }
          }
        @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
            .swiper2 .swiper-slide-active {
                -webkit-animation: scale-up-top-sm 0.4s ease-in-out both;
                        animation: scale-up-top-sm 0.4s ease-in-out both;
            }
            .swiper2 .swiper-slide-active .carousel-anchor {
                display: flex;
            }
        }